.table > tbody > tr > th {
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
	border-top: 0;
	border-bottom: 1px solid #ddd;
}
.SumUpDodatkowe{
	border-style: solid;
	border-width: 3px;
}

.PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
}

.close-right{
  width:8px;
  height:50px;
  position:absolute;
  top: 0;
  background-color: #000;
  transform:rotate(45deg);
}
.close-left{
  width:8px;
  height:50px;
  background-color: #000;
  transform:rotate(135deg);
}



.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin:auto;
  background-color: rgba(0,0,0,0.3);
}


.Modal {
  justify-content: center;
  margin: auto;
  background-color: #d0dae0;
  min-height: 50%;
  width: 20%;
  position: absolute;
  top: 25vh;
  left: 35vw;
  margin: auto;
}

.modal-form-container-stuff {
  min-height: 30%;
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 15vh;
  left: 11vw;
  margin: auto;

}