.openedPlace {
  background: linear-gradient(to bottom right, #41accb, #98d9ff,#dff6ff);
  min-height: 100vh;
  width: 100vw;
}
.people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 5vh;
}

.error-text{
  color: #F54266;
}

.modal-form-container {
  height: 30%;
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 14vh;
  left: 11vw;
  margin: auto;

}

.Modal {
  justify-content: center;
  margin: auto;
  background-color: #d0dae0;
  height: 40%;
  width: 30%;
  position: absolute;
  top: 25vh;
  left: 35vw;
  margin: auto;
}

.modal-form-container-stuff {
  height: 30%;
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 15vh;
  left: 11vw;
  margin: auto;

}

.Modal-stuff {
  justify-content: center;
  margin: auto;
  background-color: #d0dae0;
  height: 45%;
  width: 30%;
  position: absolute;
  top: 25vh;
  left: 35vw;
  margin: auto;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin:auto;
  background-color: rgba(0,0,0,0.3);
}

.modal-text{
  width: 15vw;
}

.modal-note{
  width: 15vw;
  height: 5vh;
}

.modal-save{
  width: 60px;
  height: 35px;
  font-size: 15px;
}
.stuff-label{ 
  background-color: #7dd18c;
  border-radius: 1vh;
  min-width: 28%;
  margin: auto;
  font-size: 30px;
  padding: 1vh;
  align-items: center;
  justify-content: center;
}
.stuff-label-content{
    background-color: #7dd18c;
    margin-right: 4%;
    text-align: left;
    margin-left: 4%;
    padding-left: 3%;
    padding-bottom: 5px;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
}
.people-men{ 
  background-color: #e3e9f2;
  border-radius: 2vh;
  margin: auto;
  min-width: 40%;
  min-height: 40vh;
  padding: 1vh;
  align-items: center;
  justify-content: center;

}
.people-women{
  background-color: #e3e9f2;
  border-radius: 2vh;
  min-width: 40%;
  min-height: 40vh;
  padding: 1vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  
}
.people-men-1{
    width: 100%;
    height: 36vh;
    text-align: left;
    padding-left: 3vw;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.people-women-1{
    width: 100%;
    height: 36vh;
    text-align: left;
    padding-left: 3vw;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}


.add-people-button{
    font-size: 20px;
    padding-left: 1vw;
}

.InfoTextArea{
    width: 35vw;
    min-height: 30vh;
    margin: auto;
}
.InfoSave{
    margin-left: 45vw;
}
.form-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PlaceTextArea{
    max-width: 30vw;
    margin: auto;
}
.PlaceText{
    width: 30vw;
    height: 3vh;
    margin: auto;
}

.fa-times{
  position: absolute;
  right: 1vw;
  top: 1vh;
  font-size: 20px;
}
.PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
}
.PlaceSave{
    position: absolute;
    bottom: 10vh;
    right: 3vw;
    width: 70px;
    font-size: 20px;
    height: 40px;
  }
.add-label-text{
	width: 20%;
}
.close-right{
  width:8px;
  height:50px;
  position:absolute;
  top: 0;
  background-color: #000;
  transform:rotate(45deg);
}
.close-left{
  width:8px;
  height:50px;
  background-color: #000;
  transform:rotate(135deg);
}

.addBlock{
    margin-top: 10vh;
}
.add-stuff{
  position: fixed;
  top:1vh;
  right: 5vw;
}

.table > tbody > tr > th {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.SumUpDodatkowe{
  border-style: solid;
  border-width: 3px;
}
.title{
  font-size: 7vh;
  position: absolute;
  left: 45vw;

}

/* Media queries
-------------------------------------------------- */
/* Large desktops and laptops */
@media (min-width: 1200px) {
  .modal-form-container {
    height: 50%;
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 11vh;
    left: 14vw;
    margin: auto;

  }

  .Modal {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 25vh;
    left: 30vw;
    margin: auto;
  }

  .modal-text{
    width: 25vw;
  }

  .modal-note{
    width: 25vw;
    height: 7vh;
  }
  .people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 5vh;
  }
  .PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
  }

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .modal-form-container {
    height: 50%;
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 11vh;
    left: 14vw;
    margin: auto;

  }

  .Modal {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 40%;
    width: 40%;
    position: absolute;
    top: 25vh;
    left: 30vw;
    margin: auto;
  }

  .modal-form-container-stuff {
    height: 30%;
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 17vh;
    left: 14vw;
    margin: auto;
  }

  .Modal-stuff {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 45%;
    width: 40%;
    position: absolute;
    top: 25vh;
    left: 35vw;
    margin: auto;
  }

  .modal-text{
    width: 25vw;
  }

  .modal-note{
    width: 25vw;
    height: 7vh;
  }
  .people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 5vh;
  }
  .PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
  }
 	 .fa-trash{
		position: relative;
		right: 10px;
		font-size: 11px;
	}
	.fa-pencil-square-o{
		position: relative;
		right: 10px;
		font-size: 11px;
	}

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  .modal-form-container {
    height: 30%;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 14vh;
    left: 15vw;
    margin: auto;
  }

  .Modal {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 40%;
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    margin: auto;
  }

  .modal-form-container-stuff {
    height: 30%;
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 18vh;
    left: 21vw;
    margin: auto;
  }

  .Modal-stuff {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 45%;
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    margin: auto;
  }

  .modal-text{
    width: 40vw;
  }

  .modal-note{
    width: 40vw;
    height: 7vh;
  }
  .people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 10vh;
  }
  .PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
  }
  .close-right{
    width:8px;
    height:40px;
    position:absolute;
    top: 0;
    background-color: #000;
    transform:rotate(45deg);
  }
  .close-left{
    width:8px;
    height:40px;
    background-color: #000;
    transform:rotate(135deg);
  }
  .title{
  	font-size: 7vh;
  	position: absolute;
 	  left: 40vw;
  	padding-bottom: 10px;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .stuff-label{ 
    background-color: #7dd18c;
    border-radius: 1vh;
    min-width: 40vw;
    margin: auto;
    font-size: 30px;
    padding: 1vh;
    align-items: center;
    justify-content: center;
  }
  .modal-form-container {
    height: 30%;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 14vh;
    left: 15vw;
    margin: auto;
  }

  .Modal {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 40%;
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    margin: auto;
  }

  .modal-form-container-stuff {
    height: 30%;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 17vh;
    left: 15vw;
    margin: auto;
  }

  .Modal-stuff {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 45%;
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    margin: auto;
  }

  .add-label-text{
    width: 60%;
  }
  .modal-text{
    width: 40vw;
  }

  .modal-note{
    width: 40vw;
    height: 7vh;
  }
  .people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 10vh;
  }
  .PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
  }
  .close-right{
    width:8px;
    height:40px;
    position:absolute;
    top: 0;
    background-color: #000;
    transform:rotate(45deg);
  }
  .close-left{
    width:8px;
    height:40px;
    background-color: #000;
    transform:rotate(135deg);
  }
  .title{
  	font-size: 7vh;
  	position: absolute;
 	left: 40vw;
 	padding-bottom: 10px;
	}

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .stuff-label{ 
    background-color: #7dd18c;
    border-radius: 1vh;
    min-width: 40vw;
    margin: auto;
    font-size: 30px;
    padding: 1vh;
    align-items: center;
    justify-content: center;
  }
  .modal-form-container {
    height: 30%;
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 14vh;
    left: 15vw;
    margin: auto;
  }

  .Modal {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 40%;
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    margin: auto;
  }

  .modal-form-container-stuff {
    height: 30%;
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 17vh;
    left: 20vw;
    margin: auto;
  }

  .Modal-stuff {
    justify-content: center;
    margin: auto;
    background-color: #d0dae0;
    height: 45%;
    width: 60%;
    position: absolute;
    top: 25vh;
    left: 20vw;
    margin: auto;
  }

  .add-label-text{
    width: 50%;
  }
  .modal-text{
    width: 40vw;
  }

  .modal-note{
    width: 40vw;
    height: 7vh;
  }
  .people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 10vh;
  }
  .PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
  }
  .close-right{
    width:8px;
    height:40px;
    position:absolute;
    top: 0;
    background-color: #000;
    transform:rotate(45deg);
  }
  .close-left{
    width:8px;
    height:40px;
    background-color: #000;
    transform:rotate(135deg);
  }

  .title{
  	font-size: 7vh;
  	position: absolute;
 	left: 35vw;
 	padding-bottom: 10px;
	}

}


/* HOME PAGE */

.how-works {
  text-align: center;
  background-color: #C7FAFF;
  padding: 5vh auto;
  width: 100vw;
}

.how-works-title {
  font-size: 2.0em;
}

.how-works-box {
  height: 85vh;
  opacity: 0;
}

.how-works-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.how-works-description {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  font-size: 1.5em;
  margin-top: -10vh;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

.fadeOut {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
  opacity: 0;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }