.openedPlace {
  background: linear-gradient(to bottom right, #41accb, #98d9ff,#dff6ff);
  height: 100vh;
  width: 100vw;
}

.InfoTextArea{
    width: 35vw;
    min-height: 30vh;
    margin: auto;
}
.InfoSave{
    margin-left: 45vw;
}
.form-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PlaceTextArea{
    max-width: 30vw;
    margin: auto;
}
.PlaceText{
    width: 30vw;
    height: 3vh;
    margin: auto;
}
.PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
}
.PlaceSave{
    margin-left: 40vw;
    margin-right: 5vw;
}
.close-right{
  width:8px;
  height:50px;
  position:absolute;
  top: 0;
  background-color: #000;
  transform:rotate(45deg);
}
.close-left{
  width:8px;
  height:50px;
  background-color: #000;
  transform:rotate(135deg);
}

.addBlock{
    margin-top: 10vh;
}
.add-stuff{
  position: fixed;
  top:1vh;
  right: 5vw;
}

.modal-form-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
  .Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: papayawhip;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
  }
.table > tbody > tr > th {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.SumUpDodatkowe{
  border-style: solid;
  border-width: 3px;
}
.title{
  font-size: 7vh;
  position: absolute;
  left: 45vw;
}

/* HOME PAGE */

.how-works {
  text-align: center;
  background-color: #C7FAFF;
  padding: 5vh auto;
  width: 100vw;
}

.how-works-title {
  font-size: 2.0em;
}

.how-works-box {
  height: 85vh;
  opacity: 0;
}

.how-works-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.how-works-description {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  font-size: 1.5em;
  margin-top: -10vh;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

.fadeOut {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
  opacity: 0;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

