.openedPlace {
  background: linear-gradient(to bottom right, #41accb, #98d9ff,#dff6ff);
  height: 100vh;
  width: 100vw;
}
.people-info{
    background-color: #d9dde2;
    border-width: 0px;
    border-radius: 3vh;
    margin-top: 5vh;
}

.people-men{ 
  background-color: #7dd18c;
  border-radius: 1vh;
  max-width: 15vw;
  margin: auto;
  font-size: 30px;
  width: 15vw;
  padding: 1vh;
  align-items: center;
  justify-content: center;

}
.people-women{
  background-color: #f7a3de;
  border-radius: 1vh;
  font-size: 30px;
  width: 15vw;
  padding: 1vh;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.people-men-1{
    background-color: #7dd18c;
    width: 13vw;
    text-align: left;
    padding-left: 3vw;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: absolute;
    left: 30%;
}
.people-women-1{
    background-color: #f7a3de;
    width: 13vw;
    text-align: left;
    padding-left: 3vw;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: absolute;
    left: 30%;
}
.modal-text{
    width: 15vw;
}
.modal-note{
    width: 15vw;
    height: 5vh;
}
.modal-save{
    width: 4vw;
    height: 4vh;
    font-size: 15px;
}

.add-people-button{
    font-size: 20px;
    padding-left: 1vw;
}

.InfoTextArea{
    width: 35vw;
    min-height: 30vh;
    margin: auto;
}
.InfoSave{
    margin-left: 45vw;
}
.form-container {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.PlaceTextArea{
    max-width: 30vw;
    margin: auto;
}
.PlaceText{
    width: 30vw;
    height: 3vh;
    margin: auto;
}

.fa-times{
  position: absolute;
  right: 1vw;
  top: 1vh;
  font-size: 20px;
}
.PlaceClose{
    cursor: pointer;
    position:absolute;
    top: 50px;
    right: 50px;
}
.PlaceSave{
    position: absolute;
    bottom: 10vh;
    right: 3vw;
    width: 4vw;
    font-size: 20px;
    height: 4vh;
}
.close-right{
  width:8px;
  height:50px;
  position:absolute;
  top: 0;
  background-color: #000;
  transform:rotate(45deg);
}
.close-left{
  width:8px;
  height:50px;
  background-color: #000;
  transform:rotate(135deg);
}

.addBlock{
    margin-top: 10vh;
}
.add-stuff{
  position: fixed;
  top:1vh;
  right: 5vw;
}

.close-button{
  width: 5px;
  height: 5px;
}

.modal-form-container {
  height: 30%;
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 14vh;
  left: 11vw;
  margin: auto;
}
  .Modal {
    justify-content: center;
    height: 40%;
    width: 30%;
    margin: auto;
  }

  .Overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    margin:auto;
    background-color: rgba(0,0,0,0.3);
  }
.table > tbody > tr > th {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
.SumUpDodatkowe{
  border-style: solid;
  border-width: 3px;
}
.title{
  font-size: 7vh;
  position: absolute;
  left: 45vw;

}

@media (min-width: 992px) and (max-width: 1199px) {
  .Modal {
    height: 40%;
  }
}


/* HOME PAGE */

.how-works {
  text-align: center;
  background-color: #C7FAFF;
  padding: 5vh auto;
  width: 100vw;
}

.how-works-title {
  font-size: 2.0em;
}

.how-works-box {
  height: 85vh;
  opacity: 0;
}

.how-works-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.how-works-description {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  font-size: 1.5em;
  margin-top: -10vh;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

.fadeOut {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
  opacity: 0;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }