.main-bg {
  background-image: url('../img/main-background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main-slogan {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-slogan-text {
  font-size: 3.25em;
}

.main-slogan-btn {
  font-size: 1.8em;
  background-color: #8EC0E4;
  padding: 15px;
  color: #ddd;
  border-radius: 35px;
  border-color: #ddd;
  border-width: 5px;
}


.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}

.Home-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Home-intro {
  font-size: large;
}

.Home-main-title {
  font-size: 6em;
}

/* HOME PAGE */

.how-works {
  text-align: center;
  background-color: #C7FAFF;
  padding: 5vh auto;
  width: 100vw;
}

.how-works-title {
  font-size: 2.0em;
}

.how-works-box {
  height: 85vh;
  opacity: 0;
}

.how-works-img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.how-works-description {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  font-size: 1.5em;
  margin-top: -10vh;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100); } }

.fadeOut {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  display: none;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
  opacity: 0;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    filter: alpha(opacity=1); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }




.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin:auto;
  background-color: rgba(0,0,0,0.3);
}


.Modal {
  justify-content: center;
  margin: auto;
  background-color: #d0dae0;
  min-height: 50%;
  min-width: 30%;
  position: absolute;
  top: 25vh;
  left: 30vw;
  margin: auto;
}

.modal-form-container-stuff {
  min-height: 30%;
  min-width: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  

}

.modal-text{
  max-width: 80%;
  margin-left: 10%;
}






/* DropDown  -------------------------------------------------------------------------------------------------------------------- */






.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: rgba(212, 223, 230,0.95);
}

.dropdown--active .dropdown__content {
    display: block;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}