.open-event-info-btn{
  margin:auto;
  padding: 2%;
  padding-left: 20%;

}

.password-input{
  width: 200px;
}

.error-box{
  position: absolute;
  padding-top: 25%;
  left: 30;
  width: 200px;
}

.userInfo{
  max-width: 70%;
  margin: auto;
}

.profile-info{
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}

.col-sm-6{
  min-width: 300px;
  padding-top: 20px;
}

.save-button{
  background-color: #b8cef2;
}

.confirm-password-change{
  margin-top: 5px;
  position: absolute;
  bottom: 23%;
  right: 35%;
}

.user-event-list{
  min-height: 70%;
  min-width: 60%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y:auto;
}

.note-textarea{
  min-height: 20vh;
  margin: auto;
}

.form-control{
  margin: auto;
}

.well{
  position: absolute;
  top: 12%;
  padding-right: 15px;
  padding-left: 15px;
}

.user-events{
    width: 70%;
    height: 80vh;
    background-color: #d9dfe2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 3%;
}

.event-info-navbar{
  background-color: rgb(189, 212, 249,0.5);
}

.user-profile{
    width: 60%;
    height: 80vh;
    background-color: #d9dfe2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 3%;
}

.user-event-info{
  width: 70%;
  height: 80vh;
  background-color: #d9dfe2;
  margin-left: auto;
  margin-right: auto;
   margin-top: 3%;
    border-radius: 3%;
}


/* SCROLL BAR FOR EVENTS */

.my-events-title{
  padding-top: 2%;
}


.info-box{
  margin: auto;
  padding: 5px;
  font: 24px/36px sans-serif;
  width: 90%;
  max-height: 600px;
}

::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid #9cb4e5;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #689cf2;  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #4f8df2; 
}

/* END */


.user-profile-box {
	background-color: #ddd;
	height: 100%;
  padding: auto;
  margin-top: 50px;
  border-radius: 3%;
}

.event-box {
	border: 5px #000 solid;
}

.event-box-2 {
	border: 1px #ddd solid;
}

.avatar{
  max-width: 300px;
  max-height: 300px;
  border-radius: 5%;
  border-style: solid;
  border-width: 3px;
  border-color: #bcbfc4;
}


.main-bg {
  background-image: url('../img/main-background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main-slogan {
  max-height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin:auto;
  background-color: rgba(0,0,0,0.3);
}


.Modal {
  justify-content: center;
  margin: auto;
  background-color: #d0dae0;
  min-height: 50%;
  min-width: 30%;
  position: absolute;
  border-radius: 3%;
  top: 25vh;
  left: 35vw;
  margin: auto;
}

.modal-form-container{
  min-height: 30%;
  min-width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 15vh;
  left: 5vw;
  margin: auto;

}



@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .confirm-password-change{
    position: absolute;
    bottom: 24%;
    right: 29%;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .confirm-password-change{
    position: absolute;
    bottom: 27%;
    right: 33%;
  }

  .error-box{
    position: absolute;
    padding-top: 18%;
    left: 30;
    width: 200px;
  }

  .col-sm-6{
    min-width: 342px;
    padding-right: 40px;
  }

  .user-profile-box {
    padding-left: 100px;
    padding-right: 100px;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .confirm-password-change{
    position: absolute;
    bottom: 20%;
    right: 32%;
  }

  .col-sm-6{
    min-width: 342px;
    padding-right: 40px;
  }

  .userInfo{
    min-width: 100%;
    margin: auto;
  }


}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .password-input{
    width: 150px;
  }
  .error-box{
    width: 150px;
  }
  .confirm-password-change{
    position: absolute;
    bottom: 20%;
    right: 25%;
  }

  .col-sm-6{
    max-width: 190px;
    padding-right: 40px;
  }

  .avatar{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: #bcbfc4;
  }

  .form-control{
    width: 150px;
  }

  .save-button{
    margin-right: 24%;
  }
}
