.table > tbody > tr > th {
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

.table > tbody > tr > td {
	border-top: 0;
	border-bottom: 1px solid #ddd;
}
.SumUpDodatkowe{
	border-style: solid;
	border-width: 3px;
}